
body {
  font-family:'Libre Baskerville', serif;
}

*:focus {
    outline: none;
}

.exit-intent-backdrop {

  -webkit-transition: opacity 350ms;
  -moz-transition: opacity 350ms;
  -o-transition: opacity 350ms;
  transition: opacity 350ms;

  background-color:#000;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity: 0;
  height:0;
  overflow:hidden;
  cursor:pointer;
  z-index:910000;
}

body.exit-intent-open.exit-intent-closing .exit-intent-backdrop,
body.exit-intent-open.exit-intent-closing .exit-intent-lightbox {
  opacity:0;
}

body.exit-intent-open .exit-intent-backdrop {
  height:auto;
  opacity:0.8;
}

body.exit-intent-open .exit-intent-lightbox {
  height:auto;
  opacity:1;
  cursor:pointer;
}

.exit-intent-lightbox {
  z-index: 920000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  height:0;
}

.exit-intent-lightbox .ei-lb-close {
  background: url('http://sb.monetate.net/img/1/669/568232.png') no-repeat center center;
  position: absolute;
  right: 82px;
  top: 33px;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
.exit-intent-lightbox .voucher-code {
  background: white;
  width: 80%;
  height: 45px;
  padding-top: 10px;
  line-height:initial;
  margin: 0 auto 10px auto;
  font-size: 22px;
  cursor: text;
  text-transform: uppercase;
}

.exit-intent-lightbox .ei-lb-inner {
  width:490px;
  height:496px;
  top: calc(50% - 248px);
  left: calc(50% - 245px);
  position: absolute;
  background-color: #EEE;
  cursor:default;
}

.exit-intent-lightbox .ei-lb-inner .ei-lb-content {
  text-align:center;
  min-height:100%;
}

.exit-intent-lightbox .ei-lb-inner .ei-lb-form {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  text-align:center;
}

.exit-intent-lightbox .ei-lb-inner .ei-lb-form input {
  width:80%;
  height:44px;
  border: 1px solid black;
  margin-bottom:13px;
  text-align:center;
  color:#BCBCBC;
  font-size:20px;
}
.exit-intent-lightbox .ei-lb-inner .ei-lb-submit-btn {
  width:46%;
  height:43px;
  border: none;
  background-color: black;
  font-size:18px;
  color: #FFB200;
}

.exit-intent-lightbox .ei-lb-inner .ei-lb-submit-btn:hover,
.exit-intent-lightbox .ei-lb-inner .ei-lb-submit-btn:focus,
.exit-intent-lightbox .ei-lb-inner .ei-lb-submit-btn:active {
  background-color:#303030;
}

.exit-intent-lightbox .ei-lb-inner .invalid {
  opacity:0.8;
}
.exit-intent-lightbox .ei-lb-inner .invalid:hover,
.exit-intent-lightbox .ei-lb-inner .invalid:active,
.exit-intent-lightbox .ei-lb-inner .invalid:focus {
  cursor:default;
  background-color:black;
}

.exit-intent-lightbox .ei-lb-inner .ei-lb-sending,
.exit-intent-lightbox .ei-lb-inner .ei-lb-sending:hover,
.exit-intent-lightbox .ei-lb-inner .ei-lb-sending:active,
.exit-intent-lightbox .ei-lb-inner .ei-lb-sending:focus {
  background-color:#BCBCBC;
  color:black;
  cursor:default;
}

.exit-intent-lightbox .ei-lb-inner .ei-lb-continue-cont {
  position: absolute;
  width: 100%;
  top: 45%;
}

.exit-intent-lightbox .ei-lb-inner.ei-lb-front {
  background: url('http://sb.monetate.net/img/1/669/573814.png') no-repeat center center;
}
.exit-intent-lightbox .ei-lb-inner.ei-lb-back {
  background: url('http://sb.monetate.net/img/1/669/573812.png') no-repeat center center;
}